/*-------------------------------------
  Example stylesheet
-------------------------------------*/
.add-adress-block,
.add-comment-block {
	.block-panel {
		margin-top: 30px;
		padding-bottom: 80px;
	}
}

.link-btn-position {
	position: relative;

	.btn {
		position: absolute;
		bottom: -45px;
		right: 15px;
	}
}
